.aboutsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 40px 7rem 0;

  @media screen and (max-width: map-get($breakpoints, md)) {
    margin: 40px 0 0;
  }

  @media screen and (max-width: map-get($breakpoints, sm)) {
    gap: 20px;
    margin: 20px 0 0;
  }
}