.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  @media screen and (max-width: map-get($breakpoints, sm)) {
    gap: 4rem;
  }
}

.statusCode {
  font-size: 18rem;
  font-weight: 700;
  color: $colour-primary;
  margin: 0;
  padding: 0;
  text-align: center;
  @media screen and (max-width: map-get($breakpoints, sm)) {
    font-size: 6rem;
    margin: 2rem 0 0;
  }
}

.errorText {
  font-size: 2.25rem;
  font-weight: 500;
  color: $colour-primary;
  margin: 0;
  padding: 0;
  text-align: center;
  @media screen and (max-width: map-get($breakpoints, sm)) {
    font-size: 1.125rem;
  }
}

.navigateLink {
  font-size: 1.125rem;
  font-weight: 500;
  color: $colour-primary;
  margin: 6rem 0;
  padding: 0;
  text-align: center;
  text-decoration: underline;
  @media screen and (max-width: map-get($breakpoints, sm)) {
    font-size: 0.875rem;
    margin: 3rem 0;
  }
}
