.heroContainer {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  height: 223px;
  width: 100%;
  @media screen and (max-width: map-get($breakpoints, sm)) {
    height: 110px;
    border-radius: 10px;
  }
}

.heroImage {
  object-fit: cover;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $colour-secondary;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  padding: 1.25rem;
  @media screen and (max-width: map-get($breakpoints, md)) {
    text-align: left;
  }
  @media screen and (max-width: map-get($breakpoints, sm)) {
    font-size: 1.5rem;
    padding: 1rem;
  }
}
