.heroContainer {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  height: 223px;
  width: 100%;
}

.heroImage {
  object-fit: cover;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $colour-secondary;
  font-size: 3rem;
  font-weight: 500;
}
