.tag {
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  height: 25px;
  border-radius: 10px;
  background-color: $colour-primary;
  padding: 0 1.375rem;
  color: $colour-secondary;

  @media screen and (max-width: map-get($breakpoints, md)) {
    height: 18px;
    font-size: 0.625rem;
  }
}
